nav{
	line-height: 6;
}
ul.mynav{
	padding: 0;
	list-style: none;
}
ul.mynav li{
	width: 7%;
	background-color: aqua;	
	
	 margin: 2px;
	 display: inline;
}

a{
	padding: 20px;

	text-decoration: none;
	font-weight: bold;
	    background-color: #d4cdcd;
}
a:hover{
	text-decoration: none;
	color: #fff;
	background-color: #182d2d;
}
small{
	color: #000;
}
img#imgprofile{
	border: 1px solid #fff;
	border-radius: 100px;
	height: 200px;
}
