nav{
	line-height: 6;
}
body{
	font-family: 'Josefin Sans', sans-serif
}
h2#head{
	font-family: 'Nosifer', cursive;
	margin-bottom: 0px;
	line-height: 3;
}
ul.mynav{
	padding: 0;
	list-style: none;
}
ul.mynav li{
	width: 7%;
	background-color: aqua;	
	
	 margin: 2px;
	 display: inline;
}

a.headnav{
	padding: 20px;

	text-decoration: none;
	font-weight: bold;
	    background-color: #d4cdcd;
}
a.headnav:hover{
	text-decoration: none;
	color: #fff;
	background-color: #182d2d;
}
small{
	color: #000;
}
img#imgprofile{
	border: 1px solid #fff;
	border-radius: 100px;
	/*width: 50%;*/
	height: 400px;

}
@media (max-width: 375px){
	h2#head{
		    font-size: 20px;
	}
	img#imgprofile{
		width: 100%;
	}
}